@import './../../global';

@keyframes main-menu-page-logo {
  0% {
    transform: translate(-2px, 0);
  }
  25% {
    transform: translate(-2px, -1px);
  }
  50% {
    transform: translate(-1px, -2px);
  }
  75% {
    transform: translate(2px, -1px);
  }
  100% {
    transform: translate(1px, 2px);
  }
}

.main-menu-page__logo {
  animation: main-menu-page-logo 2s ease-in-out infinite alternate;
  margin-left: -3px;
}

.main-menu-page__hi {
  margin: 0.5em 0;
  font-style: italic;
}
