div(class='main-menu-page', hidden)
    h3(class="main-menu-page__label")
    form(class="main-menu-page__form")
        a(href="/one-player-page", class="form__single-player-game-button") Один игрок
        div(class="vertical-space")
        a(href="/multiplayer-page", class="form__multiplayer-game-button") Мультиплеер
        div(class="vertical-space")
        a(href="/chat-page", class="form__chat-button", hidden) Чат
        div(class="vertical-space", hidden)
        a(href="/liders-page", class="form__leaderboard-button") Список лидеров
        div(class="vertical-space")
        a(href="/my-page", class="form__my-page-button") Моя страница
        div(class="vertical-space")
        a(href="/game-rules", class="form__game-rules-button") Описание игры
        div(class="vertical-space")
        a(href="/about-authors", class="form__about-authors-button") Об авторах
        div(class="vertical-space")
        input(type="button", value="Выход", class="form__exit-button")
        div(class="vertical-space")
        div(class="vertical-space")
        div(class="vertical-space")