div(class='about-authors-page')
    h2 Авторы игры
    div(class='list-authors')
        div
            p Колотовкин Максим
            p Алёхин Владислав
            p Минченко Илья
            p Морозенков Олег — ментор!
    div(class="vertical-space")
    a(href="/main-menu", class="about-authors-page__main-menu-button") Главное меню
    div(class="vertical-space")
    div(class="vertical-space")
    div(class="vertical-space")