div(class='about-authors-page', hidden)
    h2 Авторы игры
    div(class='list-authors')
        div
            p Колотовкин Максим
            p Алёхин Владислав
            p Минченко Илья
    div(class="vertical-space")
    input(type="button", value="Главное меню", class="about-authors-page__main-menu-button")
    div(class="vertical-space")
    div(class="vertical-space")
    div(class="vertical-space")