div(class='game-rules-page', hidden)
    h2 Game rules
    p First game rule paragraph
    p Second game rule paragraph
    p Third game rule paragraph
    p Fourth game rule paragraph
    div(class="vertical-space")
    input(type="button", value="Main menu", class="game-rules-page__main-menu-button")
    div(class="vertical-space")