div(class='log-in-page', hidden)
    h2 Авторизация
    form(class="log-in-page__form")
        span Логин
        br
        input(type="text", spellcheck ="false", autocomplete="off", maxlength="10", class="form__login-input-field", placeholder="Maxim")
        div(class="vertical-space")
        span Пароль
        br
        input(type="password", spellcheck="false", autocomplete ="off", maxlength ="10", class="form__password-input-field", placeholder="secret123")
        div(class ="vertical-space")
        input(type="button", value="Войти в аккаунт", class="form__log-in-button")
        div(class="vertical-space")
    a(class="log-in-page__link-to-sign-up-page", href="/sign-up") Перейти к регистрации
    div(class="vertical-space")
    div(class="log-in-page__message-box", hidden)
    div(class="vertical-space")
    div(class="vertical-space")
    div(class="vertical-space")