.one-player-page__main-menu-button {
  color: black;
  font-size: 20px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  padding: 7px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  width: 350px;
}

.one-player-page__canvas-box {
  padding: 0;
  background-color: black;
}
