div(class='one-player-page', hidden)
    h2 Один игрок
    div(class="one-player-page__canvas-box")
        canvas(class='canvas-box__canvas-plain', width='900px', height='600px')
    div(class="vertical-space")
    table(hidden)
        tr
            td
                div(class='one-player-page__count-field', align='center')
                    span(class='count-field__count-label') 0
                    img(src='./../../gameFiles/images/star.png', width='35px', height='35px')
            td
                div(class='one_player_page__ammo-field', align='center')
                    span(class='ammo-field__ammo-label') 0
                    img(src='./../../gameFiles/images/ballOK.png', width='35px', height='35px')
            td
                div(class='one_player_page__live-field', align='center')
                    span(class='live-field__live-label') 0
                    img(src='./../../gameFiles/images/bonusLive.png', width='35px', height='35px')
    div(class="vertical-space", hidden)
    input(type="button", value="Начать игру", class="one-player-page__start-game-button")
    div(class="vertical-space", hidden)
    input(type="button", value="Главное меню", class="one-player-page__main-menu-button")
    div(class="vertical-space")
