div(class='one-player-page', hidden)
    h2 Single player
    div(class="one-player-page__canvas-box")
        canvas(class='canvas-box__canvas-plain', width='900px', height='600px')
    div(class="vertical-space")
    div(class='one-player-page__count-field', align='center')
        span(class='count-field__count-label') 0
        img(src='./../../gameFiles/images/star.png', width='35px', height='35px')
    div(class="vertical-space")
    input(type="button", value="Start game", class="one-player-page__start-game-button")
    div(class="vertical-space")
    input(type="button", value="Main menu", class="one-player-page__main-menu-button")
    div(class="vertical-space")
