@import './../../global';

.one-player-page__start-game-button {
  @extend .button-field;
  font-size: 2vw;
  margin-top: 2vh;
}

.one-player-page__main-menu-button {
  @extend .button-field;
  font-size: 2vw;
  margin-left: 1vw;
  margin-top: 2vh;
}

.one-player-page__canvas-box {
  padding: 0;
  background-color: black;
  width: 900px;
  height: 600px;
  border: 1px solid black;
}

.canvas-box__canvas-plain {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
}
