div(class='one-player-page', hidden)
    h2 Single player
    div(class="one-player-page__canvas-box")
        canvas(class='canvas-box__canvas-plain', width='900px', height='600px')
    div(class="vertical-space")
    input(type="button", value="Main menu", class="one-player-page__main-menu-button")
    div(class="vertical-space")
