$mobile-width: 480px;

.one-player-page__main-menu-button {
  color: black;
  font-size: 20px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  padding: 7px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  width: 350px !important;
  @media only screen and (max-device-width: $mobile-width) {
    font-size: 40px;
    width: 400px !important;
    height: 200px !important;
  }
}

.one-player-page__start-game-button {
  color: black;
  font-size: 20px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  padding: 7px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  width: 350px !important;
  margin-right: 20px;
  @media only screen and (max-device-width: $mobile-width) {
    font-size: 40px;
    width: 400px !important;
    height: 200px !important;
  }
}

.one-player-page__canvas-box {
  padding: 0;
  background-color: black;
}

.one-player-page__count-field {
  padding: 15px 25px;
  background-color: #CCCCCC;
  border-radius: 8px;
  width: 160px;
}

.one_player_page__ammo-field {
  padding: 15px 25px;
  background-color: #CCCCCC;
  border-radius: 8px;
  width: 160px;
  margin-left: 15px;
}

.one_player_page__live-field {
  padding: 15px 25px;
  background-color: #CCCCCC;
  border-radius: 8px;
  width: 160px;
  margin-left: 15px;
}

.count-field__count-label {
  font-size: 35px;
  padding-right: 15px;
}

.ammo-field__ammo-label {
  font-size: 35px;
  padding-right: 15px;
}

.live-field__live-label {
  font-size: 35px;
  padding-right: 15px;
}

.canvas-box__canvas-plain:-webkit-full-screen {
  display: block;
  width: 100%;
  height: 100%;
}