div(class='main-menu-page', hidden)
    h3(class="main-menu-page__label")
    form(class="main-menu-page__form")
        input(type="button", value="Один игрок", class="form__single-player-game-button")
        div(class="vertical-space")
        input(type="button", value="Мультиплеер", class="form__multiplayer-game-button")
        div(class="vertical-space")
        input(type="button", value="Чат", class="form__chat-button", hidden)
        div(class="vertical-space", hidden)
        input(type="button", value="Лидеры", class="form__leaderboard-button")
        div(class="vertical-space")
        input(type="button", value="Моя страница", class="form__my-page-button")
        div(class="vertical-space")
        input(type="button", value="Описание игры", class="form__game-rules-button")
        div(class="vertical-space")
        input(type="button", value="Об авторах", class="form__about-authors-button")
        div(class="vertical-space")
        input(type="button", value="Выход", class="form__exit-button")
        div(class="vertical-space")