div(class='main-menu-page', hidden)
    h2 Main Menu Page
    h3(class="main-menu-page__label")
    form(class="main-menu-page__form")
        input(type="button", value="Single player", class="form__single-player-game-button button btn")
        div(class="vertical-space")
        input(type="button", value="Multiplayer", class="form__multiplayer-game-button button btn")
        div(class="vertical-space")
        input(type="button", value="Chat", class="form__chat-button button btn", hidden)
        div(class="vertical-space", hidden)
        input(type="button", value="Leaderboard", class="form__leaderboard-button button btn")
        div(class="vertical-space")
        input(type="button", value="My page", class="form__my-page-button button btn")
        div(class="vertical-space")
        input(type="button", value="Game rules", class="form__game-rules-button button btn")
        div(class="vertical-space")
        input(type="button", value="About authors", class="form__about-authors-button button btn")
        div(class="vertical-space")
        input(type="button", value="Exit", class="form__exit-button button btn btn-gray")
        div(class="vertical-space")