div(class='sign-up-page')
    h2 Регистрация
    form(class="sign-up-page__form")
        span Логин
        br
        input(type="text", spellcheck ="false", autocomplete="off", maxlength="10", class="form__login-input-field", placeholder="Maxim")
        div(class="vertical-space")
        span Пароль
        br
        input(type="password", spellcheck="false", autocomplete ="off", maxlength ="10", class="form__password-input-field", placeholder="secret123")
        div(class ="vertical-space")
        div(class="form__sign-up-button") Зарегистрироваться
        div(class="vertical-space")
    br
    a(class="sign-up-page__link-to-log-in-page", href="/log-in") Перейти к авторизации ➡️
    div(class="vertical-space")
    div(class="sign-up-page__message-box", hidden)
