div(class="multiplayer-page", hidden)
    h2 Мультиплеер
    div(class="multiplayer-page__canvas-multiplayer-box", hidden)
        canvas(class="canvas-multiplayer-box__canvas-plain", width='900px', height='700px')
    div(class="vertical-space")
    input(type="button", value="Начать поиск противника", class="multiplayer-page__start-game-finding-button")
    h3(class="multiplayer-page__wait-process-label", hidden) Поиск противника ...
    div(class="vertical-space")
    input(type="button", value="Главное меню", class="multiplayer-page__main-menu-button")
    div(class="vertical-space")
    div(class="vertical-space")
    div(class="vertical-space")
    div(class="vertical-space")