@import './../../global';

.one-player-page__start-game-button {
  font-size: 256px;
  text-align: center;
  cursor: pointer;
  color: white;
}

.one-player-page__start-game-button--restart {
  position: fixed;
  top: 128px;
  right: 48px;
  color: white;
  font-size: 48px;
  text-decoration: none;
  z-index: 100;
}

.one-player-page__canvas-box {
  padding: 0;
  background-color: black;
  width: 900px;
  height: 600px;
  border: 1px solid black;
  margin: auto;
}

.canvas-box__canvas-plain {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
}
