div(class='chat-page', hidden)
    h2 Chat page
    p Input your message
    textarea(spellcheck ="false", autocomplete="off", class="chat-page__input-field", placeholder="Message content")
    div(class="vertical-space")
    input(type="button", value="Send message", class="chat-page__send-message-button")
    div(class="vertical-space")
    h3 Messages
    div(class="chat-page__messages-box")
    div(class="vertical-space")
    input(type="button", value="Main menu", class="chat-page__main-menu-button")
    div(class="vertical-space")