.liders-page__next-list-button {
  color: black;
  font-size: 20px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  padding: 7px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  width: 350px;
}

.liders-page__previous-list-button {
  color: black;
  font-size: 20px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  padding: 7px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  width: 350px;
}

.liders-page__main-menu-button {
  color: black;
  font-size: 20px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  padding: 7px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  width: 350px;
}

.liders-page__liders-list-box {
  padding: 10px;
  width: 500px;
  border: 2px solid #666666;
  border-radius: 10px;
  margin: 10px;
}

.liders-page__liders-list-box div {
  background-color: #CCCCCC;
  padding: 10px;
  margin: 4px;
}