div(class='liders-page', hidden)
    h2 Leaderboard Page
    h3(class="liders-page__login-label")
    div(class="liders-page__liders-list-box")
    div(class="vertical-space")
    input(type="button", value="Previous", class="liders-page__previous-list-button button btn")
    div(class="vertical-space")
    input(type="button", value="Next", class="liders-page__next-list-button button btn")
    div(class="vertical-space")
    div(class="vertical-space")
    input(type="button", value="Main menu", class="liders-page__main-menu-button button btn btn-gray")
    div(class="vertical-space")