html {
    touch-action: none;
    overflow: hidden;
}

body {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 3vw;
    color: gold;
    padding: 0;
    background: #111a51;
}

.content__message-content {
    font-size: 2vw;
}

.full-screen-box {
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
}

.alert-window {
    position: fixed;
    padding: 20px;
    background-color: rgba(0, 0, 255, 0.8);
    top: 20%;
    border-radius: 15px;
    left: 15%;
    min-width: 60%;
    border: 1px solid yellow;
}

.bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -123;
}

.bg__background-picture {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
}

.center-box__title-image {
    width: 45%;
    padding-top: 25px;
}

.vertical-space {
    padding-top: 2vh;
}

.text-field {
    font-size: 3vw;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: black;
    padding: 1vw;
    border: 1px solid black;
    border-radius: 1vw;
    outline: none;
}

.button-field {
    @extend .text-field;
    background-color: #ffb02c;
    cursor: pointer;
}

.button-field:hover {
    background-color: #ffc723;
}

.content__ok-button {
    @extend .button-field;
    margin-top: 25px;
    font-size: 2vw;
}

.link-field {
    color: white;
    padding: 1vw;
    cursor: pointer;
}

.center-box {
    width: 100%;
    padding-bottom: 5vh;
    padding-left: 0;
}
