@import './../../global';

.form__choose-image-button {
  @extend .button-field;
  width: 40%;
}

.form__save-changes-button {
  @extend .button-field;
  width: 40%;
}

.my-page__main-menu-btn {
  @extend .button-field;
  width: 36%;
}

.form__user-avatar-image {
  border-radius: 8px;
}
