.form__choose-image-button {
  color: black;
  font-size: 20px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  padding: 7px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  width: 350px;
}

.form__save-changes-button {
  color: black;
  font-size: 20px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  padding: 7px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  width: 350px;
}

.form__user-avatar-image {
  border-radius: 10px;
}

.my-page__main-menu-btn {
  color: black;
  font-size: 20px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  padding: 7px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  width: 350px;
}
