div(class='my-page', hidden)
    h2 My page
    h3(class="my-page__user-login-label")
    form(class="my-page__form")
        img(class="form__user-avatar-image", src="./images/userImage.jpg", width="150px", height="150px")
        div(class="vertical-space")
        input(type="file", class="form__file-button", hidden)
        input(type="button", value="Choose image", class="form__choose-image-button")
        div(class="vertical-space")
        input(type="button", value="Save changes", class="form__save-changes-button")
        div(class="vertical-space")
    div(class="vertical-space")
    input(type="button", value="Main menu", class="my-page__main-menu-btn")
    div(class="vertical-space")
    h3(class="my-page__message-box", hidden)
    div(class="vertical-space")