div(class='about-authors-page', hidden)
    h2 About authors
    div(class='list-authors')
        div
            p Kolotovkin Maxim
            p Alehin Vladislav
            p Ilia Minchenko
    div(class="vertical-space")
    input(type="button", value="Main menu", class="about-authors-page__main-menu-button button btn btn-gray")
    div(class="vertical-space")