html {
  touch-action: manipulation;
  overflow: hidden;
}

td {
  padding: 16px;
}

@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/MontserratAlternates-Medium.ttf");
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 36px;
  color: #ffe7ce;
  padding: 0;
  background: #111a51;
}

h2 {
  margin-top: 0;
}

p {
  font-size: 24px;
}

.hidden {
  display: none !important;
}

.content__message-content {
  font-size: 16px;
}

.full-screen-box {
  position: fixed;
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 20;
}

.alert-window {
  position: fixed;
  padding: 20px;
  background-color: rgba(0, 0, 255, 0.8);
  top: 20%;
  border-radius: 15px;
  left: 15%;
  min-width: 60%;
  border: 1px solid yellow;
  z-index: 22;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -123;
}

@keyframes bg-animation {
  from {
    transform: scale(1.1) rotate(-7deg);
  }
  to {
    transform: scale(1.1) rotate(7deg);
  }
}

.bg__background-picture {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  filter: blur(6px) brightness(0.3);
  -webkit-filter: blur(6px) brightness(0.3);
  animation: bg-animation 4s ease-in-out infinite alternate;
}

.center-box__title-image {
  width: 45%;
  padding-top: 25px;
}

.vertical-space {
  padding-top: 16px;
}

.text-field {
  font-size: 30px;
  color: black;
  padding: 16px;
  border: 0;
  border-radius: 8px;
  outline: none;
}

.edit-field {
  @extend .text-field;
  transition: box-shadow 0.15s;
}

.edit-field:hover {
  box-shadow: 0 0 8px 4px white;
}

.edit-field:focus {
  box-shadow: 0 0 8px 4px #ffb02c;
}

.menu-button {
  color: #ffe7ce;
  text-decoration: none;
  transition: all 0.2s;
  margin: 0.3em 0;
  cursor: pointer;
}

.menu-button:hover {
  color: #fff;
  transform: rotate(5deg) scale(1.2);
  font-weight: 900;
  text-shadow: 0 0 8px rgba(255, 255, 255, 1);
}

a {
  display: block;
  text-decoration: none;
}

.button-field {
  @extend .text-field;
  font-size: 26px;
  background-color: #ffb02c;
  cursor: pointer;
  max-width: 80%;
  transition: background-color ease-in-out 0.3s;
}

@keyframes button-field-pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.button-field:hover {
  background-color: #ffd129;
  animation: button-field-pulse 0.3s infinite alternate;
}

.content__ok-button {
  @extend .button-field;
  margin-top: 25px;
  font-size: 16px;
}

.link-field {
  @extend .menu-button;
  font-size: 24px;
}

#workspace {
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

#workspace-single-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#workspace-double-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
