div(class='game-rules-page', hidden)
    h2 Описание игры
    p Вы играете за красную ракету.
    p Вам необходимо как можно дольше <br>уворачиваться от метеоритов.
    p Для движения вверх и вниз нужно <br>использовать клавиши «W» и «S».
    p Для стрельбы по метеоритам <br>нажимайте на клавишу «R».
    div(class="vertical-space")
    a(href="/main-menu", class="game-rules-page__main-menu-button") Главное меню
    div(class="vertical-space")
    div(class="vertical-space")
    div(class="vertical-space")