div(class='liders-page')
    h2 Список лидеров
    h3(class="liders-page__login-label")
    h3(class="liders-page__user-result-label") Лучший результат:
    div(class="liders-page__liders-list-box")
    div(class="vertical-space")
    div(class="liders-page__previous-list-button") Назад
    div(class="vertical-space")
    div(class="liders-page__next-list-button") Вперёд
    div(class="vertical-space")
    div(class="vertical-space")
    a(href="/main-menu", class="liders-page__main-menu-button") Главное меню
    div(class="vertical-space")
    div(class="vertical-space")
    div(class="vertical-space")