div(class='liders-page')
    h2 Список лидеров
    p(class="liders-page__login-label")
    p(class="liders-page__user-result-label") Лучший результат:
    div(class="liders-page__liders-list-box")
    div(class="vertical-space")
    div(class="liders-page__previous-list-button") Назад
    div(class="liders-page__next-list-button") Вперёд
