div(class='my-page')
    h2 Моя страница
    form(class="my-page__form")
        img(class="form__user-avatar-image", src="./images/userImage.jpg", width="200px", height="200px")
        div(class="vertical-space")
        input(type="file", accept="image/*", class="form__file-button", hidden)
        div(class="form__choose-image-button") Выбрать фотку
        div(class="vertical-space")
        div(class="form__save-changes-button") Сохранить
        div(class="vertical-space")
    div(class="vertical-space")
    a(href="/main-menu", class="my-page__main-menu-btn") Главное меню
    div(class="vertical-space")
    h3(class="my-page__message-box", hidden)
