div(class='my-page', hidden)
    h2 Моя страница
    h3(class="my-page__user-login-label")
    form(class="my-page__form")
        img(class="form__user-avatar-image", src="./images/userImage.jpg", width="256px", height="256px")
        div(class="vertical-space")
        input(type="file", accept="image/*", class="form__file-button", hidden)
        input(type="button", value="Выбрать изображение", class="form__choose-image-button")
        div(class="vertical-space")
        input(type="button", value="Сохранить изменения", class="form__save-changes-button")
        div(class="vertical-space")
    div(class="vertical-space")
    a(href="/main-menu", class="my-page__main-menu-btn") Главное меню
    div(class="vertical-space")
    h3(class="my-page__message-box", hidden)
    div(class="vertical-space")
    div(class="vertical-space")
    div(class="vertical-space")